*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '微软雅黑';
}
a{
    text-decoration: none;
}
input{
    border-style: none;
}
.header{
    background: #333;
    height: 88px;
    text-align: center;
}
.header .search{
    border: 1px solid transparent;
    position: relative;
    width: 900px;
    margin: 0 auto;
}
.header .search .form{
    position: absolute;
    right: 0;
}
.header .search .form .write{
    width: 200px;
    height: 26px;
    margin-top: 32px;
    border-radius: 2px;
    padding-left: 8px;
    background: #FDFFFD;
}
.header .search .form .baidu,
.header .search .form .google{
    padding: 4px 8px;
    border-radius: 2px;
    color: #666;
}
.main{
    border: 1px blue transparent;
    width: 100vw;
    max-height: 500px;
    text-align: center; 
    display: flex; 
    justify-content: center; 
    background: #fbfcf7 url(./img/bg.png) center center no-repeat;
    position: relative;
}
.main .wrapper{
    width: 100%;
    height: 100%;
    padding: 80px 1em 160px 0;
}
.main .wrapper .row{
    cursor: pointer;
}
.main .wrapper .row .key{
    border-top: 1px solid #fff;
    box-shadow: inset 0 0 2em rgba(0,0,0,.05), 0 3px 0 #ddd, 0 3px 2px rgba(0,0,0,.5);
    background: radial-gradient(#ffffff,#f6f6f6,#ededed);
    width: 72px;
    height: 70px;
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
    position: relative;
    border-radius: 10px;
    z-index: 1;
}
.main .wrapper .row .key > .text{
    border: 1px solid transparent;
    font-size: 20px;
    color: #989998;
    text-transform: uppercase;
    display: inline-block;
    margin: 18px 0;
}
.main .wrapper .row .key > .button{
    border: 1px solid #eee;
    position: absolute;
    right: 2px;
    top: 2px;
    line-height: 8px;
    padding: 4px;
    border-radius: 50%;
    background: #17A15E;
    color: white;
    cursor: pointer;
    display: none;
}
.main .wrapper .row .key:hover > .button{
    display: inline-block;
}
.main .wrapper .row .key > .button:hover{
    background: #117645;
}
.main .wrapper .row .key > img{
    background: #fff;
    width: 16px;
    height: 16px;
    padding: 1px;
    border-radius: 10px;
    position: absolute;
    left: 2px;
    bottom: 2px;
}
.main .lotus-left{
    position: absolute;
    width: 340px;
    bottom: 0;
    left: 0;
}
.main .petal-left{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
}
.main .petal1-right{
    position: absolute;
    width: 200px;
    right: -10px;
    top: 10px;
}
.main .petal2-right{
    position: absolute;
    width: 180px;
    right: 10px;
    bottom: 40px;  
}
.main .flower1-right{
    position: absolute;
    width: 40px;
    right: 34px;
    bottom: 50px;
}
.main .flower2-right{
    position: absolute;
    width: 24px;
    right: 90px;
    bottom: 300px;
}
.footer{
    border: 1px blue transparent;
    background: #FEFFFE ;
    height: 150px;
}
.footer .part1{
    border: 1px yellow transparent;
    height: 40%;
    text-align: center;
    position: relative;
}
.footer .part1 > .line{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 1px;
    background: #CFD0CF;
}
.footer .part1 .text-wrapper{
    border: 1px solid transparent;
    width: 900px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.footer .part1 .text-wrapper > .text{
    font-size: 12px;
    color: #999;
    position: absolute;
    top: 18px;
    left: 0;
}
.footer .part2{
   border: 1px red transparent;
   background: #fbfcf7 url(./img/bg.png) center center no-repeat;
   height: 60%;
}