*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '微软雅黑';
}
a{
    text-decoration: none;
}
.header{
    background: #333;
    height: 88px;
}
.main{
    border: 1px blue transparent;
    width: 100vw;
    min-height: 440px;
    text-align: center; 
    display: flex; 
    justify-content: center; 
    background: #fbfcf7 url(./img/bg.png) center center no-repeat;
    position: relative;
}
.wrapper{
    width: 100%;
    height: 100%;
    padding: 80px 12px 160px 0;
}
.row .key{
    border: 1px solid #345541;
    /*box-shadow: inset 0 0 1px 3px #fff, 0 4px 4px 0 #890605, 0 5px 0 0 #E7481C, 0 7px 0 0 #333;*/
    background: #FFF;
    width: 72px;
    height: 70px;
    display: inline-block;
    text-transform: lowercase;
    margin-left: 12px;
    margin-top: 16px;
    position: relative;
    border-radius: 10px;
    z-index: 1;
}
.row .key > .text{
    border: 1px solid transparent;
    font-size: 24px;
    font-weight: bold;
    color: #330403;
    display: inline-block;
    margin: 14px 0;
}
.row .key > .button{
    border: 1px solid #eee;
    position: absolute;
    right: 2px;
    top: 2px;
    line-height: 6px;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}
.row .key:hover > .button{
    display: inline-block;
}
.row .key > img{
    background: #fff;
    width: 16px;
    height: 16px;
    padding: 1px;
    border-radius: 10px;
    position: absolute;
    left: 2px;
    bottom: 2px;
}
.lotus-left{
    position: absolute;
    width: 340px;
    bottom: 0;
    left: 0;
}
.petal-left{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
}
.petal1-right{
    position: absolute;
    width: 200px;
    right: -10px;
    top: 10px;
}
.petal2-right{
    position: absolute;
    width: 180px;
    right: 10px;
    bottom: 40px;  
}
.flower1-right{
    position: absolute;
    width: 40px;
    right: 34px;
    bottom: 50px;
}
.flower2-right{
    position: absolute;
    width: 24px;
    right: 90px;
    bottom: 300px;
}
.footer{
    border: 1px solid transparent;
    background: #fff;
    height: 88px;
}